/*Pickled Bean
#6b3c21
Santas Gray
#9a9eaf
Copper
#c77e3a
Sisal
#d7d0bf*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);

*{
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

html {
  scroll-behavior: smooth;
}

.container{
    min-height: 50px;
}

body{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 0px;

}

header{
    background-color:#c77e3a;
}

main{
    background-color: #d7d0bf;
    padding: 0% 5%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #d7d0bf;
    background-color:#6b3c21;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#d7d0bf;
}

.nav-link{
    position: relative;
    padding: 5px 15px;
    margin: 15px 5px;
    color:#d7d0bf;
    font-weight: 500;
    text-decoration: none;
}

a.nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0px;
  height: 2px;
  background-color: #d7d0bf;
  opacity: 0;
  transition: .5s;
}

.nav-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 24px);
  }
}

.list-toggle{
    display: flex;
    flex-direction:column;
}

.collapsed{

}

.profile-logo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #6b3c21;
    transition: .3s;
}

.cat{
    border-radius: 10%;
    width: 70px;
    height: 70px;
    margin: 5px;
    background-image: url("/assets/cat.jpg");
    background-size: cover;
}

.profile-logo:hover{
    box-shadow: 2px 4px 3px #6b3c21;
    scale: 1.01;
}

.profile-title{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.profile-title h1{
    border-bottom: 3px solid #000000 ;
}

div.profile-title *{
    padding: 5px;
    margin: 0px;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: 500;
}

#profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    border-bottom: 10px solid #9a9eaf;

}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    font-weight: 400;

}

.section-container{
    margin: 10px 5%;
    width: calc(40% - 30px);
    border-bottom: #9a9eaf solid 1px;
}

.section-container h2{
    letter-spacing: 10px;
    color: #c77e3a;
    text-transform: uppercase;
}

.section-container :not(h2){
    font-family: 'Times New Roman', Times, serif;
}

.section-list{
    list-style: none;
}

.section-item{
    position: relative;
}

.section-item::before{
    content: "";
    position: absolute;
    top: 3px;
    left: -40px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url("/assets/award.svg");
}
/**town**/
.contacts-list :nth-child(1)::before{
    background-image: url("/assets/town.svg");
}
/**email**/
.contacts-list :nth-child(2)::before{
    background-image: url("/assets/mail.svg");
}
/**Github**/
.contacts-list :nth-child(3)::before{
    background-image: url("/assets/github.svg");
}
/**Telegram**/
.contacts-list :nth-child(4)::before{
    background-image: url("/assets/telegram.svg");
}
/**Discord**/
.contacts-list :nth-child(5)::before{
    background-image: url("/assets/discord-logo.svg");
}

#education,
#english{
    border-bottom: 0;
}

@media (max-width: 880px) {
    main{
        padding: 0% 20px;
    }
    #profile{
        flex-direction: column;
        padding: 2px;
       
        margin-bottom: 10px;
        padding-bottom: 15px;
    }
    #education{
        border-bottom: #9a9eaf solid 1px;
    }
    .main-section{
        padding-top: 0px;
    }
}

@media (max-width: 760px) {
    .nav{
        display: none;
    }
    .section-container{
        width: 100%;
    }
}